.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
}

.contact_form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.contact_form input, 
.contact_form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.student_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 18px;
}

.student_table th, .student_table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.student_table th {
    background-color: darkgreen;
    color: white;
}